@model CreditNoteBillsViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="form-group">
    <h4 class="text-success text-center">Ajouter un reçu</h4>
</div>

<br />

<span class="err-message" id="message">@Model.StatusMessage</span>

<form asp-action="Create" onsubmit="return jQueryAjaxPost(this);">

    <div class="white-Background border m-5 p-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="ListBills" class="col-form-label text-dark h5"></label>
                        @if (Model.ListBills.Count() > 1)
                        {
                            <select class="form-control" asp-for="Receipt.BillId"
                                    asp-items="@(new SelectList(Model.ListBills,"Id", "NumBill"))">
                            </select>
                            <span asp-validation-for="Receipt.BillId" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="Bill.NumBill" class="form-control" readonly />
                        }

                        <input type="hidden" asp-for="Receipt.BillId" />
                        <input type="hidden" asp-for="Bill.Id" />
                        <input type="hidden" asp-for="Bill.UserId" />

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Receipt.Montant" class="col-form-label text-dark h5"></label>
                        <input asp-for="Receipt.Montant" class="form-control txtConvert" />
                        @*<span asp-validation-for="Receipt.Montant" class="text-danger"></span>*@
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Receipt.RecieptDate" class="col-form-label text-dark h5"></label>
                        <input asp-for="Receipt.RecieptDate" class="form-control" />
                        <span asp-validation-for="Receipt.RecieptDate" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-12 form-group">
                <div class="row">
                    <label asp-for="Receipt.Reference" class="col-form-label text-dark h5"></label>
                    <input asp-for="Receipt.Reference" class="form-control" />
                    <span asp-validation-for="Receipt.Reference" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="Receipt.Description" class="col-form-label text-dark h5"></label>
                        <textarea asp-for="Receipt.Description" class="form-control"></textarea>
                        <span asp-validation-for="Receipt.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <input id="btnAdd" type="submit" value="Ajouter" class="btn btn-primary form-control" />
                        </div>
                        @if (Model.Receipt.BillId == 0)
                        {
                            <div class="col-md-6">
                                <a class="btn btn-success form-control" asp-action="Index">Annuler</a>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <a class="btn btn-success form-control" asp-action="Edit" asp-route-billId="@Model.Receipt.BillId" asp-controller="Bills">Annuler</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    @*<script>
        var add = document.getElementById("btnAdd");
        var mess = document.getElementById("message");

        function showErrorMessage() {
            mess.style.padding = "15px";
        }
        console.log("1111");
        console.log(mess);
        add.addEventListener('click', showErrorMessage);
    </script>*@
}

