<div class="row form-group">
    <div class="col-md-6">
        <input id="btnAdd" type="submit" value="Ajouter" class="btn btn-primary form-control" />
    </div>
    <div class="col-md-6">
        <a class="btn btn-success form-control" asp-action="Index">Annuler</a>
    </div>
</div>