<div class="row form-group">
    <div class="col-md-6 mb-2">
        <input type="submit" value="Supprimer" data-id="@Model."  class="btn btn-danger form-control" />
    </div>
    <div class="col-md-6">
        <a class="btn btn-success form-control" asp-action="Index">Annuler</a>
    </div>
</div>