@model CreditNoteBillsViewModel

<br />
<div class="form-group">
    <h4 class="text-success text-center">Détails du note </h4>
</div>

<br />
<br />
@Html.HiddenFor(m => m.CreditNote.Id)

<div class="white-Background border m-5 p-5">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-12 form-group">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="ListBills" class="col-form-label text-dark h5"></label>
                    <select class="form-control" asp-for="CreditNote.BillId"
                            asp-items="@(new SelectList(Model.ListBills,"Id", "NumBill"))" disabled>
                    </select>
                    <span asp-validation-for="CreditNote.BillId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 form-group">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="CreditNote.Montant" class="col-form-label text-dark h5"></label>
                    <input id="saleprice" asp-for="CreditNote.Montant" class="form-control" readonly />
                    <span asp-validation-for="CreditNote.Montant" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="CreditNote.NoteDate" class="col-form-label text-dark h5"></label>
                    <input id="purshaseprice" asp-for="CreditNote.NoteDate" class="form-control" readonly/>
                    <span asp-validation-for="CreditNote.NoteDate" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12 form-group">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="CreditNote.Description" class="col-form-label text-dark h5"></label>
                    <textarea asp-for="CreditNote.Description" class="form-control" readonly></textarea>
                    <span asp-validation-for="CreditNote.Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <partial name="_UpdateAndBackToListButtonsPartial" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
