@page
@model LockoutModel
@{
    ViewData["Title"] = "Compte verrouillé";
}

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">Ce compte est bloqué, veuillez réessayer plus tard !</p>
</header>
