@page
@model LockoutModel
@{
    ViewData["Title"] = "VERROUILLEZ UN COMPTE";
}

<header>
    <h1 class="text-dark text-center mt-5">@ViewData["Title"]</h1>
    <div class="white-Background m-5 text-center">
        <h3 class="text-center text-danger p-5">
            CE COMPTE A ÉTÉ VERROUILLÉ ! VEUILLEZ RÉESSAYER PLUS TARD ...
        </h3>
    </div>
</header>
