@model TypeAndCategoryViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<br />
<div class="form-group">
    <h4 class="text-danger text-center">Supprimer une catégorie</h4>
</div>

<br />

<form asp-action="Delete" method="post">
    @Html.HiddenFor(m => m.Category.Id)
    @Html.HiddenFor(m => m.Category.TypeId)
    <div class="white-Background border m-5 p-5">

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="ListTypes" class="col-form-label text-dark h5"></label>
                    </div>
                    <div class="col-md-8">
                        <select id="ddlCategories" class="form-control" asp-for="Category.TypeId"
                                asp-items="@(new SelectList(Model.ListTypes,"Id", "Name"))" disabled>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Category.Name" class="col-form-label text-dark h5"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Category.Name" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 offset-md-2 pl-md-5">
                    <partial name="_DeleteAndBackToListButtonsPartial" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row form-group">
            <div class="col-md-6">
                <a class="btn btn-outline-info form-control" asp-action="Index">Retour à la liste</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    @*<script>
        var object = { status: false, ele: null };

        $(document).ready(function () {
            $("#btnAlertMessage").click(function () {

                if (status) { return true; };

                var categoryId = $(this).attr("data-Id");
                swal({
                    title: "Confirmation",
                    text: "Voulez vous vraiment supprimer cette catégorie",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Oui, Supprimer",
                    closeOnConfirm: false
                },
                    function () {
                        
                    }

                )

                return false;
            });
        });
    </script>*@

}


