@model IEnumerable<Tax>

@{
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<div class="m-5">
    <div class="white-Background border p-2">
        <div class="row">
            <div class="col-6">
                <h3 class="text-info">Liste des Taxes</h3>
            </div>
            <div class="col-6 text-right">
                <a onclick="showInPopup('@Url.Action("Create","Taxes", null, Context.Request.Scheme)',
                'Créer une nouvelle taxe')"
                   class="btn btn-primary text-white" style="cursor:pointer">
                    <i class="fas fa-plus"></i>&nbsp; Ajouter
                </a>
            </div>
        </div>
    </div>
</div>

<div class="m-5">
    <div id="view-all">
        @await Html.PartialAsync("_ViewAll")
    </div>
</div>
    @section Scripts{

    }


